<strong>Hi, {{ student_name }}!</strong>
<p>Great news, your question got answered! </p>
<p>
  <strong>Your question: </strong> {{ question }} <br />
  <strong>The Answer: </strong> {{ answer }} <br />
  <br />
</p>
